
*{
 background-color: rgb(31, 30, 30);
}
.main{
    height: 100%;
}
h1{
    margin-top: 5%;
    color: aliceblue;
    text-align: left;
    padding-left:10px ;
    border-left: solid 2px rgb(143, 11, 11) ;
}

.carousel{
    cursor: grab;
}
.filmes{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    padding: 14px;
}
.filmes img{
    margin-left: 15%;
    pointer-events: none;
}

.series{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.series img{
    margin-left: 15%;
}
.icons{
    margin-top: 5%;
    color: gray;
    font-size: 30px;
}
.info{
    margin-top: 5%;
    margin-left: 80%;
    display: flex;
}
.info .p1{
    margin-right: 5%;
}
.info .p2{
    text-align: center;
    background-color: rgb(143, 11, 11);
    border-radius: 5%;
    height:25px;
    width: 100px;
}
.title{
    display: inline-flex;
    margin: auto;
    width: 100%;
}
.icons .ic1 :hover{
    color: rgb(143, 11, 11);
}
.icons .ic2 :hover{
    color: rgb(143, 11, 11);
}

/* .destaque{
    width: 8%;
    height: 20px;
    margin-left: 30px;
    border-bottom-right-radius: 10px;
    background-color: red !important;
    color: aliceblue;
    bottom: 85%;
    position: absolute;
} */