.descricao{
    color: gray;
}
/* figcaption{
    width: 50%;
    margin-left: 15%;
    border-bottom-right-radius: 10px;
    background-color: red !important;
    color: aliceblue;
    bottom: 0;
    position: relative;
} */